doctype html
html
    include ./head.pug
    body
        a(href="/") Home

        h1 URL SHORTENER
        
        include ./form.pug

        h3 New URL
        a(href=`${original_url}`) #{short_url}


        include ./footer.pug